{% extends 'base.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block body %}
    <main class="main-center">
        <div>
            <div class="bg-gray-100 py-4 px-8 rounded-md container max-w-3xl">
                {% for user in users %}
                    {% if not user.roles.0 is same as "ROLE_ADMIN" %}
                        <div class="my-4 flex justify-end">
                            <a href="?_switch_user={{ user.username }}"
                               class="font-bold me-auto">{{ user.username }}</a>
                            {% if user.isBanned %}
                                <a class="mx-2"
                                   href="{{ path('app_admin_unban', {'id': user.id}) }}">{{ 'admin.unban'|trans }}</a>
                            {% else %}
                                <a class="mx-2"
                                   href="{{ path('app_admin_ban', {'id': user.id}) }}">{{ 'admin.ban'|trans }}</a>
                            {% endif %}
                            <a class="mx-2"
                               href="{{ path('app_admin_delete', {'id': user.id}) }}">{{ 'admin.delete'|trans }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="mx-auto block w-fit mt-4" href="{{ path('app_admin') }}">Dashboard</a>
        </div>
    </main>
{% endblock %}
